@import "vendor/_bootstrap";
@import "_layout";

.q-container {
  margin-top: 60px;
  margin-bottom: 10px;
}

#results ol {
  padding-left: 10px;
}

.formula {
  list-style-type: none;
  padding-bottom: 20px;

  .title {
    font-weight: normal;

    .name {
      font-weight: bold;
    }
  }

  .desc {
    font-size: 1.1em;
  }

  .executables {
    font-family: menlo, monospace;
    list-style-type: none;
    padding-left: 10px;

    li {
      font-size: 0.9em;
      display: inline-block;
      padding: 2px 4px;
      margin: 3px 3px;
      background-color: #DDD;
      border-radius: 2px;
    }
  }
}
